.head-text { 
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-200%, -50%);
  color: white;
}

.head-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("mapletree.jpg");
    height:310px;
    background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
 }

 .container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

.intro {
  color: rgb(60, 179, 113);
  margin: 100px;
  position: relative;
  line-height: 0.9;
  text-align: left;
}

img{
	opacity: 1;
	position: relative;
	padding-right: 10px;
	padding-bottom: 25px;
	width:300px;
	height:400px;
	margin: 25px;
}

p{
	margin: 50px;
}
/*

*/
